:root  {
    --color-yellow: #F4D04E;
    --color-gray-950: #111111;
    --color-gray-500: #6B6B6B;
    --color-white: #FFFFFF;

    --font-preset1: "Figtree Extra Bold", sans-serif;
    --font-preset2: "Figtree Medium", sans-serif;
    --font-preset3: "Figtree Medium", sans-serif;
    --font-preset3-bold: "Figtree Extra Bold", sans-serif;


    --font-size-preset1: 24px;
    --font-size-preset2: 16px;
    --font-size-preset3: 14px;

    --letter-spacing: 0px;

    --space-300: 24px;
    --space-120: 12px;
    --space-100: 8px;
    --space-50: 4px;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: var(--color-yellow);
    color: var(--color-gray-500);
    letter-spacing: var(--letter-spacing);
}

#container {
    background-color: var(--color-white);

}