:root {
    --color-yellow: #F4D04E;
    --color-gray-950: #111111;
    --color-gray-500: #6B6B6B;
    --color-white: #FFFFFF;

    --font-preset1: "Figtree", sans-serif;
    --font-preset2: "Figtree", sans-serif;
    --font-preset3: "Figtree", sans-serif;
    --font-preset3-bold: "Figtree", sans-serif;


    --font-size-preset1: 24px;
    --font-size-preset2: 16px;
    --font-size-preset3: 14px;

    --letter-spacing: 0px;

    --line-height: 150%;

    --space-300: 24px;
    --space-120: 12px;
    --space-100: 8px;
    --space-50: 4px;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: var(--color-yellow);
    color: var(--color-gray-500);
    letter-spacing: var(--letter-spacing);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: var(--color-white);
    padding: var(--space-300);
    border-radius: 20px;
    max-width: 384px;
    max-height: 522px;
}

#image {
    display: block;
    border-radius: 10px;
    margin-bottom: 0px;
}

#learn {
    background-color: var(--color-yellow);
    color: var(--color-gray-950);
    font-family: var(--font-preset3-bold);
    font-weight: 800;
    width: fit-content;
    padding: var(--space-50) var(--space-120);
    border-radius: var(--space-50);
    margin: var(--space-120) 0;
    line-height: var(--line-height);
}

#heading {
    font-family: var(--font-preset1);
    font-size: var(--font-size-preset1);
    font-weight: 800;
    color: var(--color-gray-950);
    margin: var(--space-120) 0;
    line-height: var(--line-height);
}

#date {
    font-family: var(--font-preset3);
    font-weight: 500;
    color: var(--color-gray-950);
    margin: var(--space-120) 0;
    line-height: var(--line-height);
}

#text {
    font-family: var(--font-preset2);
    font-weight: 500;
    color: var(--color-gray-500);
    margin: var(--space-120) 0;
    line-height: var(--line-height);
}

#author img {
    width: 32px;
    height: 32px;
}

#name {
    color: var(--color-gray-950);
    font-family: var(--font-preset3-bold);
    font-weight: 800;
    line-height: var(--line-height);
}

#author {
    width: fit-content;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (max-width: 768px) {
    #container {
        width: 327px;
        max-height: 501px;
        box-sizing: border-box;
        padding: var(--space-300);
        border-radius: 20px;
        background-color: var(--color-white);
    }

    #image {
        width: 279px;
        height: 200px;
        object-fit: cover;
        display: block;
        border-radius: 10px;
    }

    #learn {
        background-color: var(--color-yellow);
        color: var(--color-gray-950);
        font-family: var(--font-preset3-bold);
        font-weight: 800;
        width: fit-content;
        padding: var(--space-50) var(--space-120);
        border-radius: var(--space-50);
        margin: var(--space-120) 0;
        line-height: var(--line-height);
        font-size: 12px;
    }

    #heading {
        font-family: var(--font-preset1);
        font-size: var(--font-size-preset1);
        font-weight: 800;
        color: var(--color-gray-950);
        margin: var(--space-120) 0;
        line-height: var(--line-height);
        font-size: 20px;
    }

    #date {
        font-family: var(--font-preset3);
        font-weight: 500;
        color: var(--color-gray-950);
        margin: var(--space-120) 0;
        line-height: var(--line-height);
        font-size: 12px;
    }

    #text {
        font-family: var(--font-preset2);
        font-weight: 500;
        color: var(--color-gray-500);
        margin: var(--space-120) 0;
        line-height: var(--line-height);
        font-size: 14px;
    }

    #author img {
        width: 32px;
        height: 32px;
    }

    #name {
        color: var(--color-gray-950);
        font-family: var(--font-preset3-bold);
        font-weight: 800;
        line-height: var(--line-height);
    }

    #author {
        width: fit-content;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}



